* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

header
{
  background: #020617;
  padding: 20px;
  text-align: center;
}
header h1 {
  color: #38bdf8;
}

nav {
  background: #020617;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #e5e7eb;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}


#hero {
  background: #1e293b;
  padding: 80px;
  text-align: center;
}
.highlight {
 color: #38bdf8;
 font-weight: bold;
}
#about {
  background: #020617;
}
#about h2 {
  border-left: 4px solid #38bdf8;
 padding-left: 10px;
}

 
