* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

header {
  background: #020617;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #38bdf8;
}

nav {
  background: #020617;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #e5e7eb;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}

#hero {
  background: #1e293b;
  padding: 80px 20px;
  text-align: center;
}

#hero h2 {
  color: #38bdf8;
  font-size: 32px;
  margin-bottom: 10px;
}

#hero p {
  color: #cbd5f5;
}


.highlight {
 color: #38bdf8;
 font-weight: bold;
}

#about {
  background: #020617;
  padding: 60px 20px;
}

#about h2 {
  color: #38bdf8;
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
  margin-bottom: 10px;
}

#about p {
  max-width: 700px;
}

#about {
  background: #020617;
  padding: 60px 20px;
}

#about h2 {
  color: #38bdf8;
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
  margin-bottom: 10px;
}

#about p {
  max-width: 700px;
}

#video {
  background: #020617;
  padding: 60px 20px;
}

#video h2 {
  color: #38bdf8;
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
  margin-bottom: 30px;
}
.video-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.video-card {
  background: #1e293b;
  padding: 30px;
  flex: 1;
  min-width: 220px;
  text-align: center;
  border-radius: 8px;
  color: #e5e7eb;
  transition: 0.3s;
}

.video-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(56,189,248,0.2);
}

footer {
  background: #020617;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #1e293b;
}

footer p {
  color: #94a3b8;
  font-size: 14px;
}

 
