* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

header {
  background: #020617;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #38bdf8;
}

nav {
  background: #020617;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #e5e7eb;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.menu-toggle {
  display: none; /* desktop */
}


#hero {
  background: #1e293b;
  padding: 80px 20px;
  text-align: center;
}

#hero h2 {
  color: #38bdf8;
  font-size: 32px;
  margin-bottom: 10px;
}

#hero p {
  color: #cbd5f5;
}


.highlight {
 color: #38bdf8;
 font-weight: bold;
}

#about {
  background: #020617;
  padding: 60px 20px;
}

#about h2 {
  color: #38bdf8;
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
  margin-bottom: 10px;
}

#about p {
  max-width: 700px;
}

#videos {
  background: #020617;
  padding: 60px 20px;
}

#videos h2 {
  color: #38bdf8;
  border-left: 4px solid #38bdf8;
  padding-left: 10px;
  margin-bottom: 30px;
}

footer {
  background: #020617;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #1e293b;
}

footer p {
  color: #94a3b8;
  font-size: 14px;
}

 
